.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px black;
  background-color: rgb(53, 63, 34);
  color: antiquewhite;
  cursor: pointer;
  font-size: 20px;
  position: static;
}

.navitems>ul {
  margin: 10px;
  list-style: none;
  display: flex;
}

.navitems>ul>li {
  padding: 10px;
}

.logo-image {
  width: 100px;
}

.card {
  gap: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 10px;
}

.card2 {
  align-items: center;
  border-radius: 25px;
  text-align: start;
  flex-direction: column;
  width: 278px;
  height: 287.55px;
  gap: 10px;
  box-shadow: 5px 9px 5px 2px rgb(66, 97, 112);
  transition: background-color 2s;
  cursor: pointer;
}

.card2:hover {
  background-color: rgb(111, 142, 158);
}


.card2>img {
  width: 278px;
  height: 185.33px;
  border-radius: 20px;
}

.cards-item {

  margin-top: 20px;
  width: 100%;
  height: 100%
}

.card2>.card3 {
  width: 266.01px;
  height: 24px;
  margin-top: -2px;

}

.card2>.card3>h1 {
  font-size: 18px;
  font-family: 'Gilroy-bold', sans-serif;
  font-weight: 1000;
  font-style: normal;
}


.card4 {
  width: 260.99px;
  height: 52px;
  margin: 2px 0px 0px 10px;

}

.card5 {
  width: 20px;
  height: 24.24px;
}

.card5>img {
  width: 18px;
  height: 18px;
  border-radius: 20px;
}

.card6 {
  width: 101.49px;
  height: 19px;
  display: flex;
  margin-top: -27px;
  margin-left: 18px;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
  justify-content: space-around;
}

.card6>span {
  margin-top: -19px;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
}

.card6>h5 {
  margin-top: 2.5px;
}

.card7 {
  width: 260.99px;
  height: 39.99px;
  margin: 2px 0px 0px 10px;
}

.card8 {
  width: 260.99px;
  height: 19px;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
  color: #02060c99;
  margin-top: -16px;
  margin-left: -9px;
}

.card9 {
  color: #02060c99;
  width: 260.99px;
  height: 19px;
  font-size: 16px;
  font-family: 'Gilroy-Light', 'sans-serif';
  margin-top: -20px;
  margin-left: -4px;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.input-button>.input-class {
  width: 50%;
  border-radius: 20px;
  padding: 1px;
  margin-top: 7px;
  box-shadow: 4px 2px 8px 5px rgb(66, 97, 112);
  transition: border 2s;
  border: solid;
}

.input-class>.search-input {
  border-radius: 20px;
  height: 30px;
  border: none;
  outline: none;
  width: 70px;
}

.search-input::placeholder {
  text-align: start;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 2px;

}

.search-input[type="text"] {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 16px;
  color: black;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
}

.input-class:hover {
  border-color: rgb(156, 40, 14);
}

.button-class {
  margin-left: 20px;
}

.shimmer {
  width: 300px;
  height: 300px;
  background-color: #dadcdc;
  margin: 20px;
  border-radius: 20px;
}

.footer-div {
  background-color: aqua;

}